[build]
builder = "nixpacks"

[deploy]
startCommand = "python manage.py migrate --noinput && python manage.py createsuperuser --noinput || true && python manage.py import_fabula fabula_export/ || true && python manage.py collectstatic --noinput && gunicorn fabula_web.wsgi:application --bind 0.0.0.0:$PORT"
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
