{#
Connection Type Icon

Renders the appropriate Lucide icon for each connection type.
Variable: conn_type - the ConnectionType enum value
#}

{% if conn_type == 'CAUSAL' %}
    <i data-lucide="arrow-right" class="w-3.5 h-3.5"></i>
{% elif conn_type == 'FORESHADOWING' %}
    <i data-lucide="sparkles" class="w-3.5 h-3.5"></i>
{% elif conn_type == 'THEMATIC_PARALLEL' %}
    <i data-lucide="git-merge" class="w-3.5 h-3.5"></i>
{% elif conn_type == 'CHARACTER_CONTINUITY' %}
    <i data-lucide="rotate-ccw" class="w-3.5 h-3.5"></i>
{% elif conn_type == 'ESCALATION' %}
    <i data-lucide="trending-up" class="w-3.5 h-3.5"></i>
{% elif conn_type == 'CALLBACK' %}
    <i data-lucide="arrow-left" class="w-3.5 h-3.5"></i>
{% elif conn_type == 'EMOTIONAL_ECHO' %}
    <i data-lucide="heart" class="w-3.5 h-3.5"></i>
{% elif conn_type == 'SYMBOLIC_PARALLEL' %}
    <i data-lucide="equal" class="w-3.5 h-3.5"></i>
{% elif conn_type == 'TEMPORAL' %}
    <i data-lucide="clock" class="w-3.5 h-3.5"></i>
{% else %}
    <i data-lucide="link" class="w-3.5 h-3.5"></i>
{% endif %}
